* {
  text-decoration: none;
  &:visited,
  &:focus {
    color: rgba(249, 243, 243, 1);
  }
}
.navbar {
  display: flex;
  height: 70px;
  margin-top:20px;
  margin-bottom: 60px;
  justify-content: space-around;
  background-color: rgba(204, 204, 204, 0.37);
  align-items: center;
  box-shadow: 5px 2px 3px 0px rgba(124, 121, 121, 0.555);
  @media screen and(max-width:390px) {
    font-size: 12px;
  }
}
