.schedules{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin:50px;

    @media screen and (max-width: 1140px) {
        flex-wrap: nowrap;
        height: 100vh;
      }
}